---
const { tags, class: className = 'text-sm', showCount = false } = Astro.props
import { getCollection } from 'astro:content'
import PostTag from '~/components/Tag.astro'

const allPosts = await getCollection('blog')

function getTagCount(tagName) {
  return allPosts.filter((post) => post.data.tags.includes(tagName)).length
}

const postTags = tags
  .map((tag) => ({
    name: tag,
    count: getTagCount(tag),
  }))
  .sort((a, b) => b.count - a.count)
---

{
  postTags && Array.isArray(postTags) && (
    <div class={className}>
      {postTags.map((tag) => (
        <PostTag tag={tag} showCount={showCount}>
          {showCount ? `${tag.name} (${tag.count})` : tag.name}
        </PostTag>
      ))}
    </div>
  )
}
