---
import Layout from '~/layouts/PageLayout.astro'
import PostItem from '~/components/PostItem.astro'
import { getCollection } from 'astro:content'

const basename = import.meta.env.BASE_URL

const { tag } = Astro.params

const posts = (await getCollection('blog'))
  .sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf())
  .filter((post) => {
    return post.data.tags?.includes(tag)
  })

export async function getStaticPaths() {
  const allPosts = await getCollection('blog')
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const meta = {
  title: `Tag: ${tag}`,
  description: `这里是根据标签"${tag}"分类的文章`,
}
---

<Layout {meta}>
  <header>
    <h1 class="text-center text-2xl font-bold leading-tighter tracking-tighter font-heading dark:text-white">
      标签：{tag}
    </h1>
  </header>
  <section class="py-4 mx-auto max-w-5xl">
    <ul>
      {
        posts.map((post) => (
          <li class="mb-4">
            <PostItem post={post.data} url={`${basename}blog/${post.slug}/`} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
